{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Custom CSS and JS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% block scripts %} {% endblock scripts %}

  <!-- Materialize -->
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

  <style>
    /* materialize default display is none */
    select {
      display: block;
    }
  </style>

  <title>Report App | {% block title %} {% endblock title %}</title>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    {% block content %} {% endblock content %}
  </div>

  <script src="{% static 'js/materialize.min.js' %}" defer></script>
</body>

</html>