{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock title %}


{% block content %}
HOME
<hr>

<form action="" method="POST" class="col">
{% csrf_token %}
<div class="input-field">
{{form|crispy}}
</div>
<button type="submit" class="btn waves-efffect waves-light">SEARCH</button>
</form>

{% endblock content %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>