{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block scripts %}
<script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
{{title}}
{% endblock title %}


{% block content %}
<div>
  HOME
  <hr>

  <form action="" method="POST" class="col">
    {% csrf_token %}
    <div class="input-field">
      {{search_form|crispy}}
    </div>
    <button type="submit" class="btn waves-effect waves-light">SEARCH</button>
  </form>
  <hr>
  <br>

  {%if sales_df %}

        <h2 class="header">Sales</h2>
        <div class="card horizontal">
        <div class="card-stacked">
        <div class="card-content">{{sales_df|safe}}</div>
        </div>
        </div>
    
    
        <h2 class="header">Positions</h2>
        <div class="card horizontal">
        <div class="card-stacked">
        <div class="card-content">{{positions_df|safe}}</div>
        </div>
        </div>
      
    
        <h2 class="header">Merged</h2>
        <div class="card horizontal">
        <div class="card-stacked">
        <div class="card-content">{{merged_df|safe}}</div>
        </div>
        </div>
  
    
        <h2 class="header">Grouped Data</h2>
        <div class="card horizontal">
        <div class="card-stacked">
        <div class="card-content">{{grouped_df|safe}}</div>
        </div>
        </div>



        <h2 class="header">Chart</h2>
        <div>
        <div>
        <div>
        <img src="data:image/png;base64, {{chart|safe}}" id="img">
        </div>
        </div>
        </div>


  </div>

  {%else%}
  <h3>no data</h3>
  {% endif %}

  <!-- Modal Trigger -->
  <button data-target="modal1" class="btn modal-trigger waves-effect waves-light hid" id="report-btn">Report</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content modal-body">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>

      <form id="report-form">
        {% csrf_token %}
        {{report_form|crispy}}
        {% comment %} {{report_form.name}}
        {{report_form.remarks}} {% endcomment %}

        <button type="submit" class="btn waves-effect waves-light">Submit</button>
      </form>
    
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>

{% endblock content %}